<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Faqbot</title>
    <link rel="stylesheet" href="css/style.css" >
    <link rel="shortcut icon" href="img/favicon.ico" />
  </head>
  <body>
    <div class="content">
      <img src="img/faqbot.png" alt="Imagem do Faqbot" width="300" height="300" class="img-content">
      <h1>Faqbot</h1>
      <p>
        Faqbot is a simple bot built with Sinatra and powered with
        <a href="https://dialogflow.com/" target="_blank">Dialogflow</a>
        and it helps users adding, showing, searching and removing questions. See me on
        <a class="btn-link" href="https://github.com/maiconvos/faqbot" target="_blank">Github</a>.
    </div>
  </body>
</html>
